.spreyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;

    
  }

  
  .spreyHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .spreyHeading h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .spreyCard img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;

    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .2s ease-in;
  }
  

  .spreyCard img:hover
{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

.spreyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
